{% extends 'DonApp/base.html' %}

{% block content %}
<ul>
    <h2>Donations:</h2>

    <h3>Monetary Donations:</h3>
    {% for donation in money_donations %}
    <li>
        <p>Donated to: {{ donation.ngo}}     Amount: {{ donation.amount }} TL</p>
        <p>Donated on: {{ donation.timestamp }}</p>
    </li>
    {% endfor %}

    <h3>Item Donations:</h3>

    {% for donation in item_donations %}
    <li>
        <p>Donated for: "{{ donation.campaign}}"  Donated on: {{ donation.timestamp }}</p>
        <p>Shipping Code: {{ donation.shipping_code }}</p>
        {% for item in donation.items.all %}
            <p>Item: {{ item.item_name }} - {{ item.item_quantity }}</p>
        {% endfor %}

    </li>
    {% endfor %}

</ul>

{% endblock %}